
span.a {
    width: 50px;
    height: 20px;
    border: 1px solid white;
    background-color:tomato;
    color: white;
 }

  span.b {
    width: 50px;
    height: 20px;
    border: 1px solid white;
    color : white;
    margin-left: -7px;
 }

#main-header {
    position: relative;
    margin: 13px;
    font-size: 25px;
}

#navbar ul {
    padding: 0; 
    list-style: none;
}

#navbar li{
    display: inline;
    font-size: 13px;
    padding: 5px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar li :hover {
    color:tomato;
}

#navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
}

#wrapper {
    background-image: url('../images/slide1.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

#showcase {
     padding-top : 180px;
     padding-bottom: 250px;
     padding-left: 300px;
     color: white;
     font-size: 18px;
     line-height : 1.6em;
}

#showcase p {
    font-size: 12px;
}

#container-2 {
    text-align: center;
    margin: 100px;
}

#container-2 h4 {
    color: green;
}

#container-2 p {
    font-size: 10px;
}

.container-1 button {
    background-color:rgb(32, 138, 32);
    border: none;
    cursor: pointer;
    color : white;
    padding: 15px 15px;
    font-size : 13px;
}

.container-1 button:hover {
    background-color: lightgreen;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}
.grid-item1 {
    background-color: lightgreen;
    font-size: 15px;
    text-align: center;
    height: 300px;
    margin: 1px;
}
.grid-item3{
    background-color: lightseagreen;
    font-size: 15px;
    text-align: center;
    height: 300px;
    margin: 1px;
}
.grid-item5{
    background-color: orange;
    font-size: 15px;
    text-align: center;
    height: 300px;
    margin: 1px;
}
.grid-item2{
    height: 300px;
    margin: 1px;
}
.grid-item4{
    height: 300px;
    margin: 1px;
}
.grid-item6{
    height: 300px;
    margin: 1px;
}
.grid-container img {
    width: 100%;
    height: 100%;
}
.grid-container h2 {
    padding-top: 70px;
}
#container-3 {
    text-align: center;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}
.item-grid1 p{
    height: 33.3%;
    width: 66.7%;
}
.item-grid3 img{
    height: 50%;
    width: 50%;
}
#container-4 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}
.grid-container3 img{
    border: 6px;
    border-style: solid;
    border-top-color: red;
    border-left-color: red;
    border-bottom-color:lightgray;
    border-right-color:lightgray;
    padding: 8px;
}
.grid-container3 h4, p {
    text-align: center;
    font-size: 13px;
    line-height: 1.6em;
}
#container-5 {
    text-align: center;
}

.grid-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.img-grid1 {
    background-image: url(../images/food1.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid2 {
    background-image: url(../images/food2.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid3 {
    background-image: url(../images/food3.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid4 {
    background-image: url(../images/food4.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid5 {
    background-image: url(../images/food5.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid6 {
    background-image: url(../images/food6.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid7 {
    background-image: url(../images/food7.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid8 {
    background-image: url(../images/food8.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid9 {
    background-image: url(../images/food9.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid10 {
    background-image: url(../images/food10.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid11 {
    background-image: url(../images/food11.jpg);
    height: 180px;
    background-size: 100%;
}
.img-grid12 {
    background-image: url(../images/food12.jpg);
    height: 180px;
    background-size: 100%;
}
.grid-container6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.title-grid3 {
    padding-top: 50%;
}
.title-grid4{
    padding-top: 50%;
}
#container-6{
   background-image: url(../images/stats.jpg); 
   background-repeat: no-repeat;
   background-size: 100%;
    color: white; 
    text-align: center; 
    padding: 60px;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.title-grid1 h2 {
    font-size: 30px;
}
.title-grid2 h2 {
    font-size: 30px;
}
.title-grid1 p {
    font-size: 11px;
    line-height: 1.6em;
}
.title-grid2 p {
    font-size: 11px;  
    line-height: 1.6em;
}
#container-7 {
    text-align: center;
}
.contact2 textarea {
        width: 60%;
        margin: 8px 0;
        color: white;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid white;
        background-color:rgba(0, 0, 0, 0.2);
        padding: 12px 20px;
}
.contact2 input {
        width: 60%;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid white;
        background-color:rgba(0, 0, 0, 0.2);
        padding: 12px, 20px;
}
.grid-container7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact1 {
    background-color:rgb(32, 138, 32);
    color: white;
    padding-left: 50%;
    padding-top: 5%;
}
.contact1 b {
    color: black;
}
.contact2 {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 50px;
    padding-top: 5%;
}
input[type=submit] {
    font-size: 15px;
    background-color:rgb(32, 138, 32);
    color: white;
    margin-left: 130px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 0px;
    border: none;
    width: 80px;
}
    
.container-9 {
    background-color: tomato;
    display: flex;
    justify-content: space-around;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    color: white;
    margin-top: -20px;
}
.container-9 button {
    background-color:rgb(32, 138, 32);
    border: none;
    cursor: pointer;
    color : white;
    height: 19px;
    font-size : 13px;
    margin-left: -7px;
    border: 1px solid white;
}
.container-9 input {
    border: 1px solid white;
    background-color: opaque;
}
.but1{
    padding-top: 20px;
}
#main-footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
}
.foot2 {
    padding-top: 15px;
}


@media only screen and (min-width: 320px) and (max-width: 720px){
    body{
        margin: 0;
    }
    #showcase {
        padding-top : 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        color: white;
        font-size: 15px;
        line-height : 1.6em;
   }
    #container-2 {
       margin: 0;
   }
   .container-1 ul {
       display: none;
   }
    .grid-container, .grid-container2{
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 10px;
    }
    .grid-container3{
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 10px;
    }
    .grid-container5{
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 10px;
    }
     .grid-container7{
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 10px;
    }
    .grid-container6{
        display: none;
    }
    #container-6{
        margin: 0 10px;
    }
    .contact1, .contact2{
        padding-left: 0;
        text-align: center;
    }
    input[type=submit]{
        margin-left: 0;
    }
    .item-grid1 p{
        width: 100%;
    }
    #wrapper{
        background-size: cover;
        padding: 0;
        height: 300px;
    }
    #main-footer, .container-9 {
         display: block;
    }
    .foot1 {
        padding-top: 1px;
    }
    .foot2 {
        text-align: center;
    }
    .but1{
        padding-top: 21px;
    }
    .container-9{
        padding-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
      width: 1650px;
  }
  .grid-container3, .grid-container2, .grid-container {
    padding-left: 150px;
    padding-right: 150px;
}
} 

@media only screen and (width: 2560px) {
    #wrapper {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-container3, .grid-container2, .grid-container {
        padding-left: 500px;
        padding-right: 500px;
    }
}
